<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Restaurant Name</th>
      <th>Location</th>
      <th>Splits Checks</th>
      <th>Does Not Split Checks</th>
      <th>Results</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.location %></td>
        <td><%= button_to "Vote Yes", splitVote_path(restaurant), method: "put" %></td>
        <td><%= button_to "Vote No", voteNoSplit_path(restaurant), method: "put" %></td>
        <td class="voteResult"><%= restaurant.votes.where(isSplitVote: true).count %> | <%= restaurant.votes.where(isSplitVote: false).count %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
