<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Will Split Vote Total:</strong>
  <%= @restaurant.votes.where(isSplitVote: true).count %>
</p>

<p>
  <strong>Won't Split Vote Total:</strong>
  <%= @restaurant.votes.where(isSplitVote: false).count %>
</p>
<br>
<p>
  <strong>Voting History:</strong>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Vote - Will the restaurant split the check?</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurant.votes.each do |vote| %>
        <tr>
          <td><%= current_user.email %></td>
          <td><%= vote.isSplitVote %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
