<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Will Split Vote Total:</strong>
  <%= @restaurant.votes.where(isSplitVote: true).count %>
</p>

<p>
  <strong>Won't Split Vote Total:</strong>
  <%= @restaurant.votes.where(isSplitVote: false).count %>
</p>
<br>
<%= button_to 'Add To Favorites', restaurants_add_favorite_path(@restaurant) %> <br>
<%= button_to 'Add Comment', restaurants_new_comment_path(@restaurant) %> <br>

<br>
<div class="row">
  <div class="column">
    <strong>Voting History:</strong>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Vote - Will the restaurant split the check?</th>
        </tr>
      </thead>

      <tbody>
        <% @restaurant.votes.each do |vote| %>
          <tr>
            <td><%= vote.user_id %></td>
            <td><%= vote.isSplitVote %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="column">
    <strong>Comments:</strong>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Comment</th>
        </tr>
      </thead>

      <tbody>
        <% @restaurant.comments.each do |comment| %>
          <tr>
            <td><%= comment.user_id %></td>
            <td><%= comment.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
